@import '../_mixins';

.input__CONTROL,
.button__CONTROL {
    min-height: 40px;
    position: relative;

    &.full_w {
        width: 100%;
    }

    &.m_10 {
        margin-bottom: 10px;
    }


    label.input__TITLE {
        font-weight: 400;
        padding-bottom: 4px;
        display: block;
        //
        color: #475F7B;
        text-transform: uppercase;
    }

    input.input__DEFAULT {
        width: 100%;
        height: 40px;
        display: block;
        padding: .5rem .75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4b4b5a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e2e7f1;
        border: 1px solid #ced4da;
        //border-radius: .3rem;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

        &:focus {
            color: #4b4b5a;
            background-color: #fff;
            border-color: #5369f8;
            outline: 0;
            box-shadow: none;
        }
    }

    .required_field {
        @include position_absolute(14px,auto,auto,calc(100% + 4px));
        color: red;
        font-weight: 700;
    }
}

.input__CONTROL {
    .ant-input + div:not(.required_field),
    .ant-picker + div:not(.required_field) {
        font: {
            family: $font_DEFAULT;
            weight: 600;
            size: 10px;
        }

        text-transform: uppercase;
        color: red;
        @include position_absolute(calc(0% + 4px),0,auto,auto);
    }
}

.component__SignIn_VIEW{

    .input__CONTROL {
        .input__TITLE {
            font-family: $font_app;
            font-size: 10px;
            padding-bottom: 6px;
            font-weight: 800;
            color: #222;
        }

        .form_control {
            height: 44px;
            font-weight: 400;
            font-family: $font_app;
            font-size: 14px;
            background-color: #fff;

            border: {
                width: 2px;
                color: #222;
            }

            transition: all 180ms linear;
            color: #222;
        }
    }

    .button__CONTROL {

        .button__SUBMIT {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 270px;
            height: 70px;
            color: white;
            font-weight: 800;
            font-size: 14px;
            font-family: $font_app;
            text-transform: uppercase;
            text-decoration: none;
            background: black;
            border: 2px solid #111;
            cursor: pointer;
            transition: ease-in-out 0.15s;
            padding: 0 40px;

            &:hover {
                color: white;
                background: black;
                box-shadow: 0px 19px 57px 0 rgba(0, 0, 0, 0.95);
            }
        }

        .pull__RIGHT {
            @include position_absolute(0,0,0,auto);
        }
    }
}