@import '../../components/_mixins';


.gameList__WRAPPER {
    width: 680px;
    margin: 0 auto;
    border: 1px solid rgba(#ebecf0,.6);
}

.view__CONTENT.fixed_pagination__CONTENT {
    &.isScrollable {
        overflow: {
            x: hidden;
            y: auto;
        }
    }
}

.card__mod_ITEM {
    width: 100%;
    position: relative;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(#ebecf0,.6);

    &.isSelected,
    &:hover {
        background-color: #fbfbfb;

        &:after {
            content: '';
            @include position_absolute(0,0,0,auto);
            border-right: 3px solid #1890ff;
        }
    }

    h2.item__NAME {
        font-family: $font_DEFAULT;
        width: 100%;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            min-height: 26px;
            padding-left: 26px;

            .icon {
                @include position_absolute(0,auto,auto,0);
                width: 26px;
                height: 26px;

                svg {
                    transform: translateY(-3px);
                    fill: #1890ff;
                }
            }

            .value {
                min-height: 26px;
                position: relative;

                b {
                    font-weight: 600;
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #b5b5b5;
                    //min-width: 80px;
                    display: inline-block;
                    padding-right: 4px;
                }

                .p_right {
                    float: right;
                }
            }

            &.controls {
                border-top: 1px solid rgba(#ebecf0,.6);
                margin-top: 6px;
                padding-top: 6px;
                padding-right: 12px;

                .ant-btn {
                    margin: 0 10px;

                    &:hover {

                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.game__MODAL {
    width: auto !important;

    .answer__ITEMS {
        width: 680px;
        height: 160px;
        display: flex;
        padding-left: 10px;
        position: relative;
    }

    .answer__ITEM:not(.timer) {
        width: 160px;
        height: 160px;
        margin: 0 10px 10px 0;
        background: #fbfbfb;
        box-shadow: 1px 3px 1px #eaeaea;
        float: left;
        text-align: center;
        line-height: 150px;
        position: relative;

        span {
            font-family: $font_app;
            font-style: normal;
            font-size: 41px;
            color: #333;
        }

        &:hover {
            cursor: pointer;

            &:before {
                content: '';
                @include position_absolute(0,0,0,0);
                pointer-events: none;
                border: 2px solid #1890ff;
            }
        }
    }

    .answer__ITEM.timer {
        width: 160px;
        height: 160px;
        margin: 0 10px 10px 0;
        float: left;
        text-align: center;
        line-height: 150px;
        position: relative;

        .timer__ICON {
            @include position_absolute(0,0,auto,auto);

            svg {
                width: 26px;
                opacity: 0.3;
            }
        }

        .time__WRAPPER {
            font-family: $font_app;
            font-style: normal;
            font-size: 41px;
            color: #333;
            position: relative;

            span {
                @include position_absolute(100%,auto,auto,50%);
                @include transform_translate(0,-50%);
                font-size: 12px;
                line-height: 12px;
                white-space: nowrap;
            }
        }
    }
}

.value .player__ITEM {
    display: inline;

    &:nth-of-type(2),
    &:last-child {
        span {
            display: none;
        }
    }
}
