@import '../components/_mixins';

.component__MessageBar {
    @include position_fixed(auto,0,0,0,1000);
    width: auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #f7aa09, #6214c8 );

    .ms-MessageBar-icon {
        display: none;
    }

    .ms-MessageBar-innerText {
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        font-family: $font_app;
        color: #fff;
        white-space: nowrap;
        text-transform: uppercase;
    }
}