@import '../components/_mixins';

.component__SignIn_VIEW {
    @include position_fixed(0,0,0,0,10);
    //background: linear-gradient(45deg, #f9ac07, #5406d9);
    display: flex;
    justify-content: center;
    align-items: center;

    .view__WRAPPER {
        transform: translateY(-60px);

        h1 {
            color: #222;
            font-size: 44px;
            font-weight: 400;
            font-family:$font_app;
            text-align: center;
        }

        .contactWrapper {
            width: 100%;
            display: flex;
            padding-top: 20px;

            p {
                text-align: center;
                padding-top: 40px;
                font-family: $font_app;
                font-size: 13px;
                font-weight: 400;
                position: relative;
                margin: 0 auto;
                display: initial;


                &:before {
                    content: '';
                    @include position_absolute(auto,0,-2px,0);
                    border-bottom: 1px solid #222;
                }
            }
        }
    }

    .view__CONTENT {
        width: 560px;
        min-height: 480px;
        box-shadow: 0 0 12px -10px #222;
        max-width: 480px;
        padding: 40px 60px;
        background-color: #fff;
        border-radius: .25rem;
        position: relative;

        &:before {
            content: '';
            @include position_absolute(0,0,0,0);
            pointer-events: none;
            border: 1px solid rgba(#222,.1)
        }

        h2 {
            text-align: center;
            margin-bottom: 60px;
            font-family: $font_app;
        }

        .input__CONTROL {

            label.input__TITLE {
                display: block;
                text-transform: none;
                padding-bottom: 4px;
                font-size: 0.857143em;
                font-style: inherit;
                line-height: 1.33333;
                font-weight: 600;
                color: #172b4d;
            }
        }

        .button__CONTAINER {
           
            .signin__button {
                width: 200px;
                margin: 0 auto;
                position: relative;
                display: block;

                .error-message {
                    @include position_absolute(auto,auto,calc(100% + 10px),50%);
                    @include transform_translate(-50%,0);

                    font: {
                        family: $font_app;
                        weight: 400;
                        size: 12px;
                    }

                    line-height: 1;
                    color: red;
                    text-transform: none;
                }

                &:hover {
                }
            }
        }
    }
}
