@import '../../components/_mixins';

.content__CONTAINER {
    width: calc(100vw - 240px);
    max-width: calc(100vw - 240px);
    margin: 0 auto;
    @include position_absolute(54px,0,30px,240px,1);
}
