@import '../../components/_mixins';

.menu__CONTENT {
    width: 280px;
    @include position_absolute(0,auto,0,0,2);
    background-color: #252526;
    box-shadow: -9px 0 15px 6px #000;
    padding-bottom: 40px;
    padding-left: 50px;

    overflow: {
        x: hidden;
        y: auto;
    }

    .menu__GLOBAL {
        background-color: #333333;
        box-shadow: 0 0 12px -10px #222;
        width: 48px;
        @include position_fixed(0,auto,0,0,2);
        padding: 12px 2px 100px;

        .g__ITEM {
            width: calc(100%);
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                &.anticon {

                    svg {
                        height: auto;
                        width: 26px;
                        fill: #858585;
                        transition: all 234ms linear;
                    }
                }
            }

            &:hover,
            &.isSelected {
                cursor: pointer;

                span svg {
                    fill: #fff;
                }
            }
        }

        .g__ITEM__LINE {
            width: calc(100%);
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                &.anticon {

                    svg {
                        height: auto;
                        width: 24px;
                        fill: #858585;
                        transition: all 234ms linear;
                    }
                }
            }
        }

        .account__SETTING {
            width: 48px;
            background-color: #333333;
            padding: 2px 2px 12px;
            @include position_fixed(auto,auto,0,0,3);
        }
    }

    .sub__MENU {
        @include position_absolute(0,0,0,48px);

        overflow: {
            x: hidden;
            y: auto;
        }
    }

    .modules__MENU {
        width: 100%;
        display: flow-root;
        padding: 12px 0 0 2px;

        .module__MENU_ITEM_LINE {
            width: 100%;
            min-height: 14px;
            position: relative;
            display: block;
            font-family: 'bold';
            font-size: 13px;
            padding: 12px 0 10px;
            padding-left: 24px;
            color: #a1a1a1;
            text-transform: uppercase;
            transform: scaleY(0.9);
            letter-spacing: 1px;
        }

        .module__MENU_ITEM {
            width: 100%;
            height: 44px;
            position: relative;
            display: block;

            .icon {
                width: 44px;
                height: 44px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    &.anticon {

                        svg {
                            height: auto;
                            width: 20px;
                            fill: rgba(#858585,.5);
                            transition: all 234ms linear;
                        }
                    }
                }
            }

            .value {
                @include position_absolute(0,auto,0,44px);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-family: 'bold';
                font-size: 12px;
                color: #858585;
                //text-transform: uppercase;
                transform: scaleY(0.94);
                letter-spacing: 1px;
                transition: all 234ms linear;
            }

            &:hover {
                background-color: #2a2d2e;
                cursor: pointer;

                .icon span svg {
                    fill: rgba(#fff,.6);
                }

                .value {
                    color: #3785c5;
                }
            }

            &.isSelected {
                background-color: #181818;

                &:before {
                    content: '';
                    @include position_absolute(0,auto,0,0);
                    border-left: 2px solid #3785c5;
                }

                .icon span svg {
                    fill: #3785c5;
                }

                .value {
                    color: #fff;
                    font-family: 'bold';
                }
            }
        }
    }

    .logOut__MenuItem {
        @include position_fixed(auto,auto,0,0);
        background-color: #f1f1f1;
    }

    .user__ROLE_ {
        &Admin {
           
            &:before {
                content: '';
                @include position_absolute(0,0,0,0);

                border: {
                    width: 1px;
                    style: solid;
                    color: gold;
                    radius: 50%;
                }
            }
        }
    }
}

.items__MENU {
    @include position_absolute(0,0,auto,0);

    &.ant-menu {
        background-color: #252526;

        .ant-menu-submenu {
            .ant-menu-submenu-title {
                span.anticon {
                    svg {
                        fill: #fff;
                    }
                }

                span:not(.anticon) {
                    color: red;
                }
            }
        }
    }
}

.component__PANEL {
    .ms-Panel-main {
        right: 20px;
        bottom: 20px;
        top: 20px;
        border-radius: 10px;
    }

    .ms-Overlay {
        background-color: rgba(#000,.4);
    }
}
