@import '../../components/_mixins';

.menu__CONTENT {
    width: 240px;
    @include position_absolute(54px,auto,0,0,2);
    background-color: #fdfcfc;
    box-shadow: 0 0 12px -10px #000;
    padding-bottom: 40px;

    overflow: {
        x: hidden;
        y: auto;
    }

    .ant-menu-submenu > .ant-menu,
    .ant-menu {
        background-color: #fdfcfc;

        span.anticon {
            transform: translateY(-2px);
        }

        .ant-menu-item {
            &.ant-menu-item-selected.ant-menu-item_NOT_selected {
                background-color: transparent;

                a {
                    color: rgba(0, 0, 0, 0.85);

                    &:hover {
                        color: #1890ff;
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    .logOut__MenuItem {
        @include position_fixed(auto,auto,0,0);
        background-color: #f1f1f1;
    }

    .selected__USER {
        @include position_absolute(0,0,auto,0);
        height: 80px;
        padding: 30px;

        .user__ROLE,
        .user__NAME {
            text-transform: uppercase;
            display: none;

            font: {
                family: $font_app;
                weight: 400;
                size: 20px;
            }

            color: #3d3d3d;
        }

        .user__NAME {
            //
        }

        .user__ROLE {
            font-size: 14px;
            color: #ccc;
        }

        .logout__BUTTON {
            @include position_absolute(50%,22px,auto,auto);
            @include transform_translate(0,-50%);
            width: 60px;
            height: 60px;
            padding: 18px;
            cursor: pointer;

            > svg {
                width: 100%;
                height: auto;
            }
        }
    }

}


.component__PANEL {
    .ms-Panel-main {
        right: 20px;
        bottom: 20px;
        top: 20px;
        border-radius: 10px;
    }

    .ms-Overlay {
        background-color: rgba(#000,.4);
    }
}
