// Default Style
@import 'components/_commons';

// Controls Style
@import 'components/controls/input';
@import 'components/controls/pivot';
@import 'components/controls/modal';
@import 'components/controls/callout';
@import 'components/controls/gantt';

//View Style
@import 'views/default/header';
@import 'views/default/footer';
@import 'views/default/menu';
@import 'views/default/content';

@import 'views/singin';
@import 'views/master.page';

// PAGES


